@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

/* Global Styling */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

/* Header Start */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(10px);
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #222;
  transition: 0.5s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #bf8062;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #bf8062;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/* Hero Section */
#hero {
  height: 90vh;
  width: 100%;
  background-image: url(assets/background.jpg);
  background-size: cover;
  background-position: top 10%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 15px;
}

#hero h1 {
  color: #bf8062;
}

#hero button {
  background-image: url(assets/button.png);
  background-color: transparent;
  color: #bf8062;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

/* Feature Section */
#feature {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  border-radius: 20px;
  margin: 15px 0;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.148);
  transition: 0.5s ease;
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box h6 {
  padding: 9px 8px 6px 8px;
  line-height: 1;
}

/* Products Page */
#product1 {
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 2px solid #bf7f62b7;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.156);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #bf8062;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #222;
  font-size: 14px;
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #bf8062;
}

.pro a img {
  height: 30px;
  width: 30px;
  /* position: absolute; */
  top: 450px;
  right: -150px;
  background-color: #bf8062;
}

.pro a {
  position: absolute;
  background-color: #bf8062;
  padding: 5px 20px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 10px;
  top: 470px;
  right: 10px;
}

/* Bannner Section */
#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(assets/banner/b2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: #fff;
  font-size: 16px;
}

#banner h2 {
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span {
  color: red;
}

#banner button:hover {
  background-color: #bf8062;
  color: white;
}

/* Small Banners */
#sm-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: url(assets/banner/b17.jpg);
  min-width: 48.5%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

#sm-banner .banner-box2 {
  background-image: url(assets/banner/b10.jpg);
}

#sm-banner h4 {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

#sm-banner h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

#sm-banner span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner button {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  border-radius: 0;
  border: 1px solid white;
}

#sm-banner .banner-box:hover button {
  background-color: #465b52;
}

/* Banner 3 */
#banner3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 80px;
  margin-top: 2vw;
}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: url(assets/banner/b7.jpg);
  min-width: 30%;
  height: 25vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}

#banner3 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
  text-transform: uppercase;
}

#banner3 h3 {
  color: #b32b2b;
  font-weight: 800;
  font-size: 15px;
  text-transform: uppercase;
}

#banner3 .banner-box2 {
  background-image: url(assets/banner/b4.jpg);
}

#banner3 .banner-box3 {
  background-image: url(assets/banner/b18.jpg);
}

/* News Letter */
#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(assets/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #222;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: white;
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}

#newsletter p span {
  color: #ffbd27;
}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button {
  background-color: #bf8062;
  color: white;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 3.125rem;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

/* Footer */
footer .column-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .icon img {
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #bf8062;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow img:hover,
footer a:hover {
  color: #bf8062;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

/* Shop */
#page-header {
  background-image: url(assets/banner/b1.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px;
}

#page-header h2,
#page-header p {
  color: #fff;
}

#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  background-color: #bf8062;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

#pagination a i {
  color: #fff;
}

/* Product details */

#prodetails {
  display: flex;
  margin-top: -15px;
  height: 100vh;
}

#prodetails .single-pro-img {
  width: 40%;
  margin-right: 50px;
}

.small-img-grp {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#prodetails .single-pro-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  padding-top: 30px;
}

#prodetails .single-pro-details h6 {
  color: #bf8062;
}

#prodetails .single-pro-details h4 {
  font-size: 2vw;
  padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
  font-size: 26px;
}

#prodetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
  outline: none;
}

#prodetails .single-pro-details button {
  background-color: #bf8062;
  color: white;
  height: 47px;
}

#prodetails .single-pro-details span {
  line-height: 25px;
}

/* Blog Page */
#page-header.blog-header {
  background-image: url(assets/banner/b19.jpg);
}

#blog {
  padding: 150px 150px 0 150px;
}

#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}

#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}

#blog img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

#blog .blog-details {
  width: 50%;
}

#blog .blog-details a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 14px;
  position: relative;
  transition: 0.3s;
}

#blog .blog-details h4 {
  font-size: 1.5vw;
}

#blog .blog-details p {
  font-size: 1.01vw;
  opacity: 0.6;
  margin-top: 25px;
}

#blog .blog-details a::after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 4px;
  right: -60px;
}

#blog .blog-details a:hover {
  color: #bf8062;
}

#blog .blog-details a:hover::after {
  background-color: #bf8062;
}

#blog .blog-box h1 {
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9cbce;
  mix-blend-mode: difference;
}

/* About Us */
#page-header.about-header {
  background-image: url(assets/about/banner.png);
}

#about-head{
  display: flex;
  align-items: center;
}

#about-head img{
width: 50%;
height: auto;
}

#about-head div{
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#about-head div p{
  line-height: 25px;
}

#about-head div marquee{
  font-size: 20px;
}

#about-app h1{
  text-align: center;
}

#about-app .video{
  width: 70%;
  height: 100%;
  margin: 30px auto 0 auto;
}

.video video{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* contact us */
#contact-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contact-details .details{
  margin-left: 8vw;
width: 50%;
}

#contact-details .details span,
#form-details form span{
  font-size: 12px;
}

#contact-details .details h2,
#form-details form h2{
  font-size: 36px;
  line-height: 45px;
  padding: 20px 0;
}

#contact-details .details h3{
  font-size: 16px;
  padding-bottom: 10px;
}

#contact-details .details li{
  list-style: none;
  display: flex;
  padding: 30px 0;
}

#contact-details .details li i{
  font-size: 25px;
  padding-right: 22px;
}

#contact-details .details li p{
  margin: 0;
  font-size: 14px;
}

.map{
  width: 40%;
  height: 400px;
}

/* form */
#form-details{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
}

#form-details form{
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#form-details form input,
#form-details form textarea{
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}

#form-details form button{
  background-color: #bf8062;
  color: #fff;
}

#form-details .people div{
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
}

#form-details .people div img{
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 15px;
}

#form-details .people div p{
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}

#form-details .people div span{
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: black;
}

/* Cart */
#cart-add,#cart{
  margin-bottom: 100px;
}

#cart table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img{
  width: 70px;
}

#cart table td:nth-child(1){
width: 100px;
text-align: center;
}

#cart table td:nth-child(2){
width: 150px;
text-align: center;
}

#cart table td:nth-child(3){
width: 250px;
text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
width: 150px;
text-align: center;
}

#cart table td:nth-child(5) input{
  width: 70px;
  padding: 10px 5px 10px 15px;
}

#cart table thead{
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}

#cart table thead td{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}

#cart table tbody tr td{
padding-top: 15px;
}

#cart table tbody td{
  font-size: 13px;
}

#cart table tbody tr td a{
  text-decoration: none;
  color: #b32b2b;
  font-weight: 800;
  font-size: 20px;
}

#cart-add{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#card-add #coupon{
  width: 50%;
}

#coupon h3,
#subtotal h3{
  padding-bottom: 15px;
}

#coupon input{
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button{
  background-color: #bf8062;
  color: #fff;
  padding: 10px 20px;
}

#subtotal{
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}

#subtotal table{
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#subtotal table td{
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}